*{
    margin: 0%;
    padding: 0%;
} 
*::before 
*::after{
 box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

@media all and (max-width :300px){

.container{
    width: 500px;
}
.grid{
    width : 500px;
}
}
body {
    color: #545454;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
  }
.title{
    text-align: center;
}
.container{
      background: #707e7c;
      margin: 50px;
      padding: 50px;    
      border-radius: 25px;
      justify-content: center;
        }
      
.buttons{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reset{
    cursor: pointer;
}
.reset :hover {
    color: #F2EBD3;
}

.grid{
    display: grid;
    background: #1f2b29;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.grid-cell {
        background: #707e7c;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 200px;
        width: 200px;
}

.x::after{
    content : 'x';
    font-size: 200px;
}

.o::after{
    content: 'o';
    font-size : 200px;
}

.won{
    background: #bd1414

}