*{
    margin: 0%;
    padding: 0%;
} 
*::before 
*::after{
 box-sizing: inherit;
}

html{
    box-sizing: border-box;
}


body {
    color: #545454;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
  }
.title{
    text-align: center;
}
.container{
      background: #707e7c;
      margin: 50px;
      padding: 50px;    
      border-radius: 25px;
      justify-content: center;
      width: 500px;
      height: fit-content;
        }
      
.buttons{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.reset{
    cursor: pointer;
}
.reset :hover {
    color: #F2EBD3;
}

#close{
    font-size: larger;
    color: #3bd8be;
}

.grid{
    display: grid;
    background: #1f2b29;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
    height: 500px;
}

.grid-cell {
        background: #707e7c;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: auto;
        width: auto;
}

.x::after{
    content : 'x';
    font-size: 500%;
}

.o::after{
    content: 'o';
    font-size: 500%;
}

.won{
    background: #bd1414

}
.modal-container{
    background-color: rgba(0,0,0,0.5);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100vh;
    width : 100vw
}

.modal{
    background-color: #fff;
    padding :30px 50px;
    border-radius:  5px;
    width: 600px;
    max-width: 100%;
    text-align: center;
    font
}
.show {
    pointer-events: auto;
    opacity: 1;
}

@media all and (max-width :500px){

    .container{
        width: 300px;
        height: fit-content;
    }
    .grid{
        height: 300px;
    }
    .grid-cell{
        height: auto;
        width: auto;
    }
    }